In [9]:
#ABDULLAH FUAD
#DE-13 BATCH PROCESSING

import csv
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

In [10]:
#CONNECT DATABASE
conn = psycopg2.connect("host= yourlocalhost dbname = yourdb user = yourusername password = yourpassword")

In [11]:
#MENGGUNAKAN CURSOR
cur = conn.cursor()

In [6]:
#CONTOH EXECUTE TABLE YANG ADA DI DATABASE (TABLE CUSTOMERS)
cur.execute('SELECT * FROM public.customers')

In [7]:
#MENAMPILKAN 1 ROW TABLE
one = cur.fetchone()
print(one)

(1, 'John Doe', 'johndoe@example.com')

In [8]:
#MENAMPILKAN HASIL SEMUA ROW PADA TABLE CUSTOMERS
cur = conn.cursor()
cur.execute('SELECT * FROM public.customers')
all = cur.fetchall()

for row in all:
    print (row)

(1, 'John Doe', 'johndoe@example.com')
(2, 'Abdoel', 'abdoel@example.com')
(3, 'Joe mama', 'joemama@example.com')

In [9]:
#CREATE TABLE_USERS_FUAD
cur.execute ('''
    CREATE TABLE IF NOT EXISTS users_fuad(
    id integer PRIMARY KEY,
    email text,
    name text,
    address text
    )
    '''
    )

conn.commit()

In [10]:
#Execute the SQL query to fetch the list of tables
cur.execute("SELECT table_name FROM information_schema.tables WHERE table_schema='public'")
#fetch all the rows returned by the query
table_names = cur.fetchall()
#print list of table names
for name in table_names:
    print(name[0])

customers
latihan_users_fuad
from_file_table
my_table
users_fuad
latihan_users_fuad2

In [29]:
#MENGINSERT DATA DARI FILE CSV KE TABEL DI POSTGRE
cur.execute ('''
    CREATE TABLE IF NOT EXISTS latihan_users_fuad(
    id serial PRIMARY KEY,
    email text,
    name text,
    phone text,
    postal_code text
    )
    '''
    )

#with --> membuka file, setelah selesai koneksi akan otomatis tertutup
with open ('C:/Users/Admin/Downloads/users_w_postal_code.csv') as f :
    csv_reader = csv.reader(f, delimiter=',')
    next (csv_reader) #membaca baris selanjutnya / skip header
    for row in csv_reader:
        cur.execute("INSERT INTO latihan_users_fuad VALUES (default, %s, %s, %s, %s) ON CONFLICT DO NOTHING ", row)

conn.commit()

In [30]:
cur.execute("SELECT * FROM public.latihan_users_fuad")
#fetch all the rows returned by the query
latihan_users_fuad = cur.fetchall()
#print list of table names
for name in latihan_users_fuad:
    print(name)

(1, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(2, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(3, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(4, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(5, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [31]:
#MENGCOPY FROM DATA DARI FILE CSV KE TABEL DI POSTGRE
# #SEBELUM COBA COPY FROM --> TRUNCATE TABLE DARI INSERT INTO
#cur.execute("TRUNCATE TABLE public.latihan_users_fuad")

In [32]:
with open ('C:/Users/Admin/Downloads/users_w_postal_code.csv') as f :
    next(f)
    cur.copy_from(f, 'latihan_users_fuad',sep=',',columns=('email','name','phone','postal_code'))
cur.execute("SELECT * FROM public.latihan_users_fuad")
#fetch all the rows returned by the query
latihan_users_fuad = cur.fetchall()
#print list of table names
for name in latihan_users_fuad:
    print(name)

(6, 'feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
(7, 'morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
(8, 'tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
(9, 'vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
(10, 'nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [12]:
#COPY EXPERT
cur.execute ('''
    CREATE TABLE IF NOT EXISTS latihan_users_fuad2(
    email text,
    name text,
    phone text,
    postal_code text
    )
    '''
    )

conn.commit()

In [13]:
with open ('C:/Users/Admin/Downloads/users_w_postal_code.csv','r') as f :
    #Exceute the copy operation
    cur.copy_expert(f"COPY public.latihan_users_fuad2 FROM STDIN WITH (FORMAT CSV, HEADER TRUE, DELIMITER ',')", f)


cur.execute("SELECT * FROM public.latihan_users_fuad2")
#fetch all the rows returned by the query
latihan_users_fuad2 = cur.fetchall()
#print list of table names
for name in latihan_users_fuad2:
    print(name)

('feugiat.metus@yahoo.edu', 'Jackson Boyer', '1-326-267-1884', '56-066')
('morbi@hotmail.org', 'Devin Wolfe', '(315) 718-9194', '572037')
('tempor.augue@google.couk', 'Dennis Blackwell', '1-433-880-4656', '51433')
('vulputate.posuere.vulputate@protonmail.couk', 'Maggie Hawkins', '(779) 331-8323', '965863')
('nisi.magna@google.couk', 'Oleg Hall', '1-208-578-4206', '80756')

In [33]:
#PANDAS
df = pd.read_csv('C:/Users/Admin/Downloads/users_w_postal_code.csv', sep = ',')
df.head()

,email,name,phone,postalZip
0,feugiat.metus@yahoo.edu,Jackson Boyer,1-326-267-1884,56-066
1,morbi@hotmail.org,Devin Wolfe,(315) 718-9194,572037
2,tempor.augue@google.couk,Dennis Blackwell,1-433-880-4656,51433
3,vulputate.posuere.vulputate@protonmail.couk,Maggie Hawkins,(779) 331-8323,965863
4,nisi.magna@google.couk,Oleg Hall,1-208-578-4206,80756

In [34]:
engine = create_engine('postgresql://postgres:postgres@localhost/postgres')
df.to_sql('from_file_table', engine)

5